* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
    height: 50px;
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #212121;
    z-index: 2;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 45px;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0,0, .6);
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    font-size: 13px;
    font-weight: 400;
    color: #fff
}

.subheader .subheader_call {
    margin-top: 19px;
    text-align: right;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    line-height: 12px;
    text-align: right;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}

.promo {
    min-height: 800px;
    background: url(../img/bg/1.jpg) center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promo_header {
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    line-height: 60px;
    margin: 0;
}

.promo .promo_subheader {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
}

.promo .promo_descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    margin-top: 23px;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #fff;
}

.reasons {
    padding: 71px 0 65px 0;
}

.label {
    margin: 0 auto;
    padding: 5px 12px;
    width: 112px;
    height: 24px;
    background-color: #000;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.title {
    margin: 38px 0 0 0;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #222;
}

.reasons .reasons_block {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
}

.reasons .reasons_block .reasons_round {
    border-radius: 50%;
    width: 113px;
    height: 113px;
    padding: 25px 19px 22px 14px;
    background-color: #1eacc7;
}

.reasons .reasons_block .reasons_descr {
    width: 343px;
    margin-left: 26px;
}

.reasons .reasons_block .reasons_subtitle {
    font-size: 17px;
    color: #1eacc7;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.reasons .reasons_block .reasons_text {
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    color: #202020;
    text-align: left;
}

